# DOCKER CONFIG para el front-end del dashboard
NEXT_PUBLIC_API_UPSTREAM=https://prospektia.red.com.sv
NEXT_PUBLIC_API_KEY=RedApi_2026_SuperSegura_9XK2
NEXT_PUBLIC_EL_LABS_AGENT_ID=demo
NODE_ENV=production
